.container {
  margin: 50px auto;
}

.cover {
  padding: 40px;
  min-height: 400px;
  position: relative;
}

.card {
  height: 80%;
  width: 60%;
  box-shadow: 3px 3px 5px #333;
  position: absolute;
  left: 20%;
  top: 15%;
  transition: all 1s;
  cursor: pointer;
}

.go {
  left: -999999px;
  transition: all ease 15s;
}